#rr{
width: 20%;
height: 20%;
border: 20px rgb(63, 201, 247) solid;
position: absolute;
left: 35%;
top: 2%;
border-bottom-left-radius: 100%;
border-bottom-right-radius: 100%;
border-top-right-radius: 100%;
transform: rotate(-40deg);
}
#ee{
    width: 20%;
    height: 20%;
    border: 20px rgb(63, 201, 247) solid;
  position: absolute;
left: 2%;
top: 2%;
border-bottom-left-radius: 100%;
border-bottom-right-radius: 100%;
border-top-left-radius: 100%;
transform: rotate(40deg);
}
#moein{
    width: 20%;
    height: 20%;
    color: red;
    background-color: red;
    border: red solid 2px;
    border-radius: 100%;
    position: absolute;
    top: 40%;
    left: 31%;
}
#fadakar{
width: 20%;
height: 20%;
color: red;
background-color: red;
border: red solid 2px;
border-radius: 100%;
position: absolute;
top: 40%;
left: 45%;
}
#uuu{
    width: 20%;
    height: 20%;
    color: red;
    background-color: rgb(255, 0, 0);
    border: red solid 2px;
    transform: rotate(45deg);
    position: absolute;
    top: 47%;
    left: 38%;



}